# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# SQLite DB (лучше НЕ хранить в гите)
*.db
*.sqlite
*.sqlite3

# Logs
*.log
